# Environment Variables
.env

# Python Virtual Environments
venv/
env/
ragllm/

# Byte-compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Log files
*.log

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# Environment files
.env

# excluding data from commiting to git
data/WA_Fn-UseC_-Telco-Customer-Churn.csv